header, header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  padding: 2rem 5vw;
  background-color: #ffffff10;
}

h2{
  font-size: 2rem;
}

svg{
  width: 6rem;
  height: 6rem;
  padding: 1rem;
}

.navIcon{
  transition: .3s;
  border-radius: 1rem;
}

.navIcon:hover{background-color: #ffffff20;}

a{
  display: block;
}